name: NodeJS CI Pipeline

on: 
  push:
    branches: [main]
  pull_request:
    branches: [main]
  
jobs:
  building:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18, 20]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with: 
          node-version: ${{ matrix.node-version }}

      - name: Install Dependency
        run: npm ci

      - name: Run test
        run: npm test